{% extends "layout/basic.html" %}

{% block title %}О сайте{% endblock %}

{% block content %}
    <div style="max-width: 720px; margin: auto; margin-top: 8rem;">
        <h2>О сайте</h2>
        <p><a style="color: #f1f3f5; text-decoration: none;" href="http://spacemusic.space/">Spacemusic.space</a>
            является приложением к моему
            <a style="color: #f1f3f5; text-decoration: none;" target="_blank" href="https://hh.ru/resume/103a0d5bff0af2fd760039ed1f7a58706b3659">резюме</a>
            на hh.ru
        </p>

        <br>
        <h2>Цель создания сайта</h2>
        <p>Подтвердить свой опыт в качестве web-разработчика на Django Framework.</p>

        <br>
        <h2>Что именно реализовано</h2>
        <p>Создан клон сайта еженедельной американской радиопередачи <a style="color: #f1f3f5; text-decoration: none;" target="_blank" href="https://v4.hos.com/home">Hearts of Space</a>,
            содержащий первые 1090 эфиров, каждый из которых представлен отдельным плейлистом.</p>

        <br>
        <h2>Возможности гостевого режима</h2>
        <p>&bull;&nbsp;&nbsp;Навигация по категориям</p>
        <p>&bull;&nbsp;&nbsp;Поиск по названию эфира</p>
        <p>&bull;&nbsp;&nbsp;Прослушивание любого эфира целиком или отдельными треками</p>

        <br>
        <h2>Что дает регистрация</h2>
        <p>Каждый зарегистрированный пользователь получает:</p>
        <p>&bull;&nbsp;&nbsp;возможность сохранять плейлисты эфиров себе в "Избранное"</p>
        <p>&bull;&nbsp;&nbsp;четыре пустых собственных плейлиста, которые можно наполнять понравившимися треками из разных эфиров</p>

        <br>
        <h2>История создания</h2>
        <p>Это вторая версия сайта. Первая была реализована средствами стандартного приложения Django Admin.
            Переключиться в "Django Admin-версию" можно и сейчас через меню Профиль -> Мои плейлисты.</p>
        <p>Основным недостатком первой версии была нагрузка на сервер т.к. страницы полностью перегружались почти при каждом клике.</p>
        <p>Сейчас страница перегружается только если пользователь решит "запостить" изменения в свой профиль (ajax радикально снизил нагрузку и время отклика).</p>
        <p>"Django Admin-версия" пока сохранена, т.к. она имеет гараздо более мощные средства поиска.
            Например, позволяет найти все незащищенные системой Content ID треки, относящиеся к определенному музыкальному стилю.</p>

        <br>
        <h2>Что можно было бы улучшить</h2>
        <p>В порядке значимости</p>
        <p>&bull;&nbsp;&nbsp;Вместо мгновенного, но посимвольного поиска по названию применить релевантный Elasticsearch по описанию эфира</p>
        <p>&bull;&nbsp;&nbsp;Добавить возможность превращать собственные плейлисты в подкасты для прослушивания в подкаст-плеерах</p>
        <p>&bull;&nbsp;&nbsp;Добавить rest api (если кто-то захочет перенести приложение на другие платформы, т.к. сейчас весь интерфейс заточен на десктопные браузеры и управление мышью)</p>
        <p>&bull;&nbsp;&nbsp;Использовать Memcached для хранения содержимого плейлистов (возможно, это сократит на сколько-то миллисекунд отклик при переключении между листами)</p>
        <p>&bull;&nbsp;&nbsp;Залить недостающие эфиры 1091-1327
        <p>&bull;&nbsp;&nbsp;Перенести из "админки" функционал, связанный с переименованием пользовательских плейлистов и переупорядочиванием треков внутри них</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    </div>
{% endblock %}
