{% extends "layout/basic.html" %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=False %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
    <div style="max-width: 344px; margin: auto; margin-top: 8rem;">
        <h2>Сброс пароля пользователя</h2>
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            {% buttons submit='Выполнить сброс' %}{% endbuttons %}
        </form>
    </div>
{% endblock %}
