{% extends "layout/basic.html" %}

{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=False %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
    <div style="max-width: 445px; margin: auto; margin-top: 8rem;">
        <h2>Смена пароля пользователя {{ user.username }}</h2>
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            {% buttons submit='Сменить пароль' %}{% endbuttons %}
        </form>
    </div>
{% endblock %}
